:root {
  --color-primary: #fff;
  --color-secondary: #3e3c49;
  --color-tertiary: #b9b6d3;
  --color-accent-blue: #6055a5;
  --color-accent-green: #38cc8c;
  --color-accent-green-light: #77e2b4;
  --color-accent-red: #ff7a7a;
  --color-shadow-green: #32b981;
  --color-shadow-red: #dc6567;

  --fs-xl: 4.8rem;
  --fs-600: 2.5rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.5rem;
  --fs-200: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  background-color: var(--color-accent-red);
  background-image: url(../images/bg-intro-mobile.png);
}

h1 {
  font-size: var(--fs-600);
  line-height: 3.5rem;
}

p {
  line-height: 2.5rem;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Button Design*/
.btn {
  padding: 2rem 0;
  border: 0;
  border-radius: 5px;
  width: 100%;
  color: var(--color-primary);
  background-color: black;
}

.btn--blue {
  background-color: var(--color-accent-blue);
}

.btn--green {
  background-color: var(--color-accent-green);
  box-shadow: inset 0 -3px 0 2px var(--color-shadow-green);
}

.btn--green:hover {
  background-color: var(--color-accent-green-light);
}

/* Page header */
.header {
  text-align: center;
  color: var(--color-primary);
  padding: 5rem 0;
}

.header__description {
  opacity: 0.8;
}

/* Form Card */
.card {
  margin-top: 2rem; /* to be removed */
  background-color: white;
  padding: 2.5rem;
  border-radius: 10px;
}

.card form > * {
  margin-bottom: 1.8rem;
}

.form__input {
  width: 100%;
  padding: 1.5rem;
  border: 1.5px solid var(--color-tertiary);
  border-radius: 5px;
  opacity: 60%;
}

.form__input::placeholder {
  color: var(--color-secondary);
  /* opacity: 60%; */
  font-weight: 700;
}

.form__submit-btn {
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.terms__msg {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-tertiary);
  opacity: 0.8;
  font-size: var(--fs-200);
  font-weight: 600;
  line-height: 2rem;
}

.terms__link {
  color: var(--color-accent-red);
  font-weight: 700;
  text-decoration: none;
}

/* Trial Message */
.trial {
  text-align: center;
  border-radius: 10px;
}

.trial__msg {
  width: 60%;
  margin: 0 auto;
  font-weight: 600;
}

.trial__msg > span {
  opacity: 0.8;
  font-weight: 400;
}
